body {
    color: white;
    background-color: #010714;
}

/* Menu e texto inicial */

.header ul {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.header ul li {
    list-style-type: none;
    padding-right: 14px;
}

.introduction {
padding-left: 200px;
padding-top: 100px;
padding-bottom: 350px;
}

.introduction p {
    width: 300px;
}

.introduction h2 {
    font-family: 'Lora';

}

/* Sobre mim */

.about {
    margin: 50px;
    padding-left: 100px;
}

.about p {
    display: inline-block;
    position: relative;
    width: 400px;
    bottom: 110px;
    
}

.about img {
    border-radius: 10px;
    position: relative;
    left: 100px;
    bottom: 60px;
}

.about h3 {
    position: relative;
    bottom: 50px;
    color: #757575;

}

#habilities {
    position: relative;
    bottom: 140px;
}

.about ul {
    position: relative;
    bottom: 150px;
}

#nome {
    color: #D2BFFF;
    font-weight: 600;
}

#python {
    color: #C1FFE3;
    font-weight: 600;
}

#java {
    color: #FFA8A8;
    font-weight: 600;
}

#trybe {
    color: #C1FFE3;
    font-weight: 600;
}