body {
    color: rgb(212, 202, 202);
    background-color: #010714;
}
.header ul {
    display: flex;
    justify-content: end;
}

.header ul li {
    list-style-type: none;
    padding-right: 14px;
}

.introduction {
padding-left: 200px;
padding-top: 100px;
padding-bottom: 500px;
}

.introduction p {
    width: 300px;
}

.introduction h2 {
    font-family: 'Lora';

}